@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

body{
    background: url(./images/orange.jpg);
    background-repeat: repeat;
    font-family: 'Montserrat';
}
#web{
    position: absolute;
    top: 50px;
    left: 115px;
    width: 350px;
    background-color: white;
    padding: 20px 30px;
    border: 1px #9a3412 solid;
    border-radius: 2px;
}
#web2{
    position: absolute;
    bottom: 50px;
    right: 55px;
    width: 300px;
    background-color: white;
    padding: 20px 30px;
    border: 1px #9a3412 solid;
    border-radius: 2px;
}
#home{
    background-color: #9a3412;
    padding: 2px 7px;
    height: 32px;
    color: white;
    border-radius: 8px;
}
.id:hover{
    transform: skew(10deg);
    transition: ease-in-out 0.2s;
}
#home:hover{
    background-color: #ffffff;
    color: #9a3412;
    border: 2px dashed #9a3412;
}
#keep{
    font-family: 'Dancing Script'; 
    margin-top: 89px;
    color: #ffffff;
    font-size: 48px;
    line-height: 70px;
    text-align: center;
}
li{
    background-color: white;
    border: 1px dashed #9a3412;
    color: #9a3412;
    border-radius: 5px;
    padding: 4px 6px;
}
li:hover{
    background-color: #d85023;
    border: 1px solid white;
    color: white;
    transform: translateX(39px); transition: ease-in-out 1s;
}
#nav{
    display:  none;
}


@media only screen and (max-width: 428px) {
    #web,#web2{
        display: none;
    }
    #mail{
        flex-direction: column; gap: 10px;
    }
    #my-contact{
        padding: 30px;
        height: 678px;
    }
    #follow{
        flex-direction: column;
        gap: 30px;
    }
    #keep{
        margin-top: 30px;
    }
    #adedoyin{
        text-align: center;
    }
    #content{
        width: 97%;
    }
    #header{
        flex-direction: column;
        gap: 14px;
    }
    #logo{
        justify-content: space-between;
    }
    #nav{
        display: block;
        padding-top: 9px;
    }
    #links{
        margin: auto;
    }
    #nav-two{
        display: none;
    }
}